@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    border-bottom: 1px solid #000;
}

.logo img{
    height: 58px;
    width: 58px;
}

.text{
    padding: 2px 20px;
}
.text h4{
    font-size: 1.5rem;
}
.text h5{
    text-align: center;
    margin-top: -2px;
}

h1{
    text-align: center;
    color: red;
    opacity: 1;
    transition: .5s;
    animation: animate 5s infinite;
}
h3{
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.textBx{
    width: 80%;
    border: 1px solid black;
    padding: 10px 40px;
    position: relative;
    margin-bottom: 20px;
    

}
.textBx .cornerText{
    position: absolute;
    width: 60px;
    height: 20px;
    background: #000;
    color: #fff;
    text-align: center;
    justify-content: center;
    top: -10px;
    left: -15px;
}

@keyframes animate{
    0%{
        opacity: 1;
    }
    25%{
        opacity: .5;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}


@media only screen and (max-width:426px){
    
    .text{
        align-items: center;
        justify-content: center;
        padding: 2px 20px;
    }
    
    .text h4{
        font-size: 1rem;
        margin-top: 4px;
    }
}
@media only screen and (max-width:352px){
    .text h5{
        margin-top: -2px;
        font-size: .7rem;
    }
    .text h4{
        font-size: .9rem;
        margin-top: 4px;
    }
}
