@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    border-bottom: 1px solid #000;
}

.logo img{
    height: 58px;
    width: 58px;
}

.text{
    padding: 2px 20px;
}
.text h4{
    font-size: 1.5rem;
}
.text h5{
    text-align: center;
    margin-top: -2px;
}

h1{
    text-align: center;
    color: red;
    opacity: 1;
    transition: .5s;
    animation: animate 5s infinite;
}
h3{
    text-align: center;
}

@keyframes animate{
    0%{
        opacity: 1;
    }
    25%{
        opacity: .5;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
